extends ./layout/index 

block contenido 
    h1 #{pagina}
    main.container.mt-5 
        .row
            .col-md-5 
                img(src=`/img/destinos_${viaje.imagen}_ln.jpg`, alt="imagen viaje" class="img-fluid")
            .col-md-7
                h1 #{viaje.titulo}
                p 
                    svg.icon.icon-tabler.icon-tabler-calendar-event(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#ff4500' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        rect(x='4' y='5' width='16' height='16' rx='2')
                        line(x1='16' y1='3' x2='16' y2='7')
                        line(x1='8' y1='3' x2='8' y2='7')
                        line(x1='4' y1='11' x2='20' y2='11')
                        rect(x='8' y='15' width='2' height='2')

                    | #{viaje.fecha_ida} - #{viaje.fecha_vuelta}

                p 
                    svg.icon.icon-tabler.icon-tabler-receipt-2(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#ff4500' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        path(d='M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16l-3 -2l-2 2l-2 -2l-2 2l-2 -2l-3 2')
                        path(d='M14 8h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5m2 0v1.5m0 -9v1.5')

                    | #{viaje.precio} Precio 
                p 
                    svg.icon.icon-tabler.icon-tabler-user-search(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#ff4500' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        circle(cx='12' cy='7' r='4')
                        path(d='M6 21v-2a4 4 0 0 1 4 -4h1')
                        circle(cx='16.5' cy='17.5' r='2.5')
                        path(d='M18.5 19.5l2.5 2.5')

                    | #{viaje.disponibles} Disponibles
                            
                p= viaje.descripcion

